h1 {
    color: indianred;
}
p {
    color: rgb(44, 140, 153);
}
b {
    color:rgb(82, 187, 82);
}
i {
    color: darkorange;
}
 {
    color: darkolivegreen;
 }


u {
    color: darkred;
}
cite {
    color: deeppink;
}
dfn {
    color: greenyellow;
}
ol {
    color: aqua;
}
ul {
    color: blue;
}
ins {
    color: blueviolet;
}
del {
    color: darkgreen;
}
address {
    color: orange;
}
em {
    color: chartreuse;
}









